* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-color: darkred;
    font-size: 1.15rem;
}



.inicial {
    height: 100vh;
}

nav {
    background-color: black;
    color: azure;
    width: 100%;
    height: 13vh;
    box-shadow: 0 3px;

}

.aaa {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    align-items: center;
}

.navbar a {
    padding: 15px;
    text-decoration: none;
    color: azure;
}

.navbar a:hover {
    background-color: azure;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    transition: background-color .2s;
}

.logo a {
    text-decoration: none;
    color: goldenrod;
    font: icon;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

main {
    margin: 4% 10% 1% 10%;

}

.imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.comeco {
    background-color: rgba(255, 255, 255, 0.686);
    border-radius: 15px;
    padding: 2%;
    text-align: justify;
    line-height: 1.8;
}

.view{
    height: 100vh;
}

.forms {
    background-color: rgba(255, 255, 255, 0.686);
    border-radius: 15px;
    padding: 2%;
    text-align: justify;
    line-height: 1.8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nlform {
    display: flex;
    flex-direction: column;
}

.nlform input {
    margin: 2% 0 2% 0;
    border-radius: 15px;
    padding: 5px;
    border: 2px solid rgba(128, 128, 128, 0.745);
}

.nlform select {
    margin: 2% 0 2% 0;
    border-radius: 15px;
    padding: 5px;
    border: 2px solid rgba(128, 128, 128, 0.745);
}

.nlform button {
    margin: 5% 0 2% 0;
    border-radius: 5px;
    background-color: rgb(67, 89, 255);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.745);
    padding: 5px;
    font-size: medium;
}

.nlform button:hover {
    cursor: pointer;
    background-color: rgb(37, 63, 255);
}

.comeco li {
    text-indent: 20px;
}

.imagens img {
    width: 500px;
    height: 250px;
    margin-bottom: 15px;
}

.textimg :hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.imagens .real {
    width: 500px;
    height: 250px;
}

.textimg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.textimg a {
    color: white;
    text-decoration: none;
}

.baixo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lado {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.lado input {
    border-radius: 15px;
    padding: 5px;
    border: 2px solid rgba(128, 128, 128, 0.745);
}

.lado select {
    border-radius: 15px;
    padding: 5px;
    border: 2px solid rgba(128, 128, 128, 0.745);
}

.lado button {
    margin: 5% 0 2% 0;
    border-radius: 5px;
    background-color: rgb(67, 89, 255);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.745);
    padding: 10px;
    font-size: medium;
    margin: 45% 0 0 0;
}

.lado button:hover {
    cursor: pointer;
    background-color: rgb(37, 63, 255);
}

#cxresult{
    margin: 3% 0 0 0;
    font:bolder
}

figure{
    justify-items: center;

}

figure img{
    border-radius: 5px;
}

.prim{
    width: 500px;
    height: 325px;
}

footer{
    background-color: black;
    color: white;
    padding: 25px;
    font-size:medium;
    margin-top: 55px;
    
}

footer a{
    color: white;
}